.navbar-expand-lg {
    background-color: #23233c;
    display: flex;
    align-items: center; /* Center contents vertically */
    width: 100%;
    position: fixed !important;
    top: 0;
    z-index: 2;
    opacity: 0.8;
}
.navbar-placeholder{
    height: 76px;
}

.nav-link, .navbar-brand {
    color: aliceblue !important;
    font-size: 25px !important;
    margin-right: 15px; /* Adjust spacing between nav links */
    transition: transform 0.3s ease-in-out !important; /* Transition for scaling and translation */
}

.nav-link:hover, .navbar-brand:hover {
    transform: scale(1.1) translateY(-5px); /* Scale up by 10% and move up by 5 pixels */
    cursor: pointer;
}

.navbar-toggler {
    
}

.navbar-expand {
    margin-left: auto; /* Push the navbar-toggler to the right */
}
.navbar-brand {
    position: relative;
}

.navbar-brand h1 {
    margin: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 1); /* White outline */
}

.sidebar-modal {
    min-width: 30vw; /* Adjust the width as needed */
    margin:0 !important;
    height: 100vh; /* Full height of viewport */
    max-height: 100vh;
    display: flex;
    position: fixed !important;
    right: 0;
    top: 0;
    overflow-x: scroll;
}

.cart-item-quantity {
    background: linear-gradient(to right, #ef3a98, #fb7b83, #fda6a1, #fbc7c1, #f9e0d9, #f7f3e1);
    border-radius: 50%;
    position: absolute;
    top: 0px; /* Adjust this value as needed */
    right: -10px; /* Adjust this value as needed */
    padding: 0.2rem 0.5rem; /* Adjust this value as needed */
    color: #5b5b9c;
    z-index: 1;
    border: none;
    font-size:1rem; /* Adjust the font size as needed */
  }

  @media screen and (max-width:500px) {
    .modal-footer h5 {
        font-size: 1rem;
        
    }
    .modal-footer button {
        font-size:0.8rem !important;
        padding: 0.5rem !important;
    }

    .modal-footer {
        position: fixed;
        bottom: 0;
    }

    
  }

  

.empty-cart {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.empty-cart h3{
    padding: 2rem;
    text-align: center;
}

.empty-cart button{
    font-family: Supercharge !important;
    background-color: #5b5b9c;
    color: aliceblue;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    text-align: center;
    padding: 1rem;
    margin: auto;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out; 

}

.empty-cart button span {
    margin: 0;
    transition: color 0.3s ease-in-out; /* Smooth transition for text color */
}

.empty-cart button:hover {
    transform: translateY(-10px);
    background: linear-gradient(to right, #ef3a98, #fb7b83, #fda6a1, #fbc7c1, #f9e0d9, #f7f3e1); /* Apply gradient background on hover */
}

.empty-cart button:hover span {
    color: #5b5b9c !important; /* Change color of <p> element to default background color on hover */
}