.navbar-expand-lg {
    background-color: #23233c;
    display: flex;
    align-items: center; /* Center contents vertically */
    width: 100%;
    position: fixed !important;
    top: 0;
    z-index: 2;
    opacity: 0.8;
}
.navbar-placeholder{
    height: 76px;
}

.nav-link, .navbar-brand {
    color: aliceblue !important;
    font-size: 25px !important;
    margin-right: 15px; /* Adjust spacing between nav links */
    transition: transform 0.3s ease-in-out !important; /* Transition for scaling and translation */
}

.nav-link:hover, .navbar-brand:hover {
    transform: scale(1.1) translateY(-5px); /* Scale up by 10% and move up by 5 pixels */
    cursor: pointer;
}

.navbar-toggler {
    
}

.navbar-expand {
    margin-left: auto; /* Push the navbar-toggler to the right */
}

.navbar-brand h1 {
    margin: 0;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 1); /* White outline */
}

.sidebar-modal {
    width: 100%; /* Adjust the width as needed */
    margin:0 !important;
    height: 100vh; /* Full height of viewport */
    display: flex;
    position: fixed !important;
    right: 0;
    top: 0;
}

.cart-item-quantity{
    background: linear-gradient(to right, #ef3a98, #fb7b83, #fda6a1, #fbc7c1, #f9e0d9, #f7f3e1);
    border-radius: 5px;
    position: absolute;
    padding: 0 0.5rem;
    color: #5b5b9c;
    z-index: 0;
    
    border: none;
}