.App {
  text-align: center;
  font-family: Supercharge;
  background-image: url(./images/pattern\ 111.png);
  background-size: 350px;
  color: white;
  min-height: 100vh;
}



/* 
.App-header {
  background-image: url(./images/pattern\ 111.png);
  background-size: 350px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white; 
}*/




