body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Supercharge";
  src: local("Supercharge"),
    url("./fonts/Supercharge-JRgPo.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Cartesian";
  src: local("Cartesian"),
    url("./fonts/VeniteAdoremusStraight-Yzo6v.ttf") format("opentype");
  font-weight: normal;
}